$input-bg: #E8E8E8;
$input-border-color: #F9F9F9;
$input-border-radius: 0px;
$border-radius: 0px;

@import "bootstrap/scss/bootstrap";

$spacer: 0.625em;
$negative-spacer: -0.625rem;

.single-approaching-discount {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.125);
    margin-bottom: 0.3125rem;
}

.prova {
    color: red;
}

.layout {
    background-image: linear-gradient(90deg, #1d1d1d 50%, white 50%);
}

.mainRow {
    height: calc(100vh - 119.59px);
}

.leftRowDescription {
    margin-top: 12%;
    margin-right: 15%;
}

#newsletterFont {
    color: white;
    font-weight: bold;
}

#newsletterDescription {
    color: white;
}

.buttonBackground {
    background-color: #1D1D1D;
}

.newsletter-result {
    text-align: center;
}

.hidden {
    display: none;
}

.subscription-feedback {
    &.success {
        color: green;
    }

    &.failure {
        color: red;
    }
}